<div class="search-field-container">
  <mat-form-field class="search-field">
    <mat-label>Search</mat-label>
    <input autocomplete="off" [formControl]="form" matInput type="text" />
    <button (click)="performSearch($event)" mat-button matSuffix mat-icon-button aria-label="">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Search By</mat-label>
    <mat-select [(value)]="selectedSearchType">
      <mat-option [value]="searchTypes.ARTIST">By Artist</mat-option>
      <mat-option [value]="searchTypes.ALBUM">By Album</mat-option>
    </mat-select>
  </mat-form-field>
</div>
